name: Python application

on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.10.11]
        poetry-version: [1.8.3]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry ${{ matrix.poetry-version }}
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        python -m pip install poetry==${{ matrix.poetry-version}}

    - name: Set up Docker
      run: |
        sudo apt-get update
        sudo apt-get install docker-compose

    - name: Start Docker Compose
      run: docker-compose up -d

    - name: Install dependencies
      shell: bash
      run: poetry install

    - name: Test
      run: |
        poetry run python manage.py test
